#site {
    background-color: beige;
}

#header {
    background-color: black;
    color: beige;
    height: 500px;

}

#inner-header {

}

#switchboard {
    text-align: center;
}

#headernav {
    background-color: white;
}